.imgStyle{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 40px;
    margin-right: 10px;
}

.imgNavStyle{
    padding: 5px;
    width: 40px;
    margin-right: 10px;
}

#navbarNav{
    background-color: #293241;
}

.navbar{
    background-color: #293241;
}

.navbar{
    color: #ee6c4d;
}